.carte-container{
   min-height:100vh;
   display: flex;
   justify-content: space-evenly;
   padding: 50px;
   background-color: black;
   flex-direction: row;
   flex-wrap: wrap;
}

.carte-container h6{
    color: white;
}

.carte-container img{
    width: 40%;
    height: 40%;
    margin: 2px;
}