a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
