footer{
  height:20%;
  background-color: #f06220;

}

.container-fluid{
  text-align: center;
}

.row{
  justify-content: space-around;
  align-items: baseline;
  padding: 20px;
}

.row-items{
  margin:5px
}

h5{
  font-weight: bold;
}

h6{
  color:black;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:visited {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
  color: black;
}